OPENALEX_KEY=
OPENALEX_DELAY=0.1
OPENALEX_ACTIVE=true

PUBMED_KEY=
PUBMED_DELAY=0.1
PUBMED_ACTIVE=true

SCOPUS_KEY=
SCOPUS_DELAY=0.5
SCOPUS_ACTIVE=true

SEMANTIC_KEY=
SEMANTIC_DELAY=1.0
SEMANTIC_ACTIVE=true

SCHOLAR_KEY=
SCHOLAR_DELAY=1.0
SCHOLAR_ACTIVE=true

AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
